@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
header{
    position: sticky;
    top: 0;
    box-shadow: 0 0 10px rgb(0,0,0,0.2);
    z-index: 10;
    background-color: #fff;
    padding-top: 15px;
    padding-bottom: 15px;
}
.container{
    max-width: 1700px;
    margin: 0 auto;
}
a{
    text-decoration: none;
    color: #5a5a5a;
}
img{
    cursor: pointer;
}
.flex-div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.nav-left .menu-icon{
    width: 22px;
}
.nav-left .logo-icon{
    width: 130px;
}
.nav-right{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px;
}
.nav-right img{
    width: 25px;
    
}
.nav-right .user-icon{
  width: 35px;
  border-radius: 50%;
}
.search-box{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ccc;
    padding: 8px 12px;
    border-radius: 25px;
    
}
.nav-middle{
     display: flex;
    justify-content: center;
    align-items: center;
    gap: 25px; 
}
.nav-middle .mic-icon{
    width: 16px;
}
.nav-middle .search-box input{
    width: 400px;
    border: 0;
    outline: 0;
    background: transparent;
}
.nav-middle .search-box img{
    width: 15px;
}
/* -----------header css end here-----------  */
/* --------------------sidebar css start here-------------- */
.sidebar{
    background: #fff;
    position: fixed;
    top: 0;
    width: 15%;
    /* padding-left: 2%; */
    padding-top: 80px;
    height: 100vh;
    /* z-index: -1; */
}
.shortcut-link a{
    display: flex;
    /* justify-content: center; */
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}
.shortcut-link a img{
    width: 15px;
}
.shortcut-link a:first-child{
    color: #ed3833;
}
.sidebar hr{
    width: 85%;
    border: 0;
    background-color: #ccc;
    height: 1px;
}
.subcribed-list h3{
    font-size: 13px;
    color: #5a5a5a;
    margin: 20px 0;

}
.subcribed-list a{
    display: flex;
    justify-content: center;
    align-items: center;
    width: fit-content;
    flex-wrap: wrap;
    gap: 20px;
    margin-bottom: 20px;
}
.subcribed-list a img{
width: 25px;
border-radius: 50%;
}
.small-sidebar{
    width: 5%;
}

.small-sidebar a p{
    display: none;
}
.small-sidebar hr{
    width: 50%;
    margin-bottom: 20px;
}
.banner{
   
    width: 100%;
    padding-left: 17%;
    padding-right: 2%;
    /* padding-top: 20px;
    padding-bottom: 20px; */
   
}
.large-banner{
    padding-left: 7%;
}
.banner .img img{
    width: 100%;
    border-radius: 8px;
     background-color: #f9f9f9;
     padding: 15px;
    
}
.vido-list .thumnail{
    width: 100%;
}

.flex .jack{
    width: 35px;
    height: 25px;
    border-radius: 50%;
}
.flex{
    display: flex;
    /* align-items: center; */
    gap: 10px;
    
}
.list-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-column-gap:35px;
    grid-row-gap: 20px;
    margin-top: 20px;
}
.video-list .thumnail{
    width: 100%;
    border-radius: 5px;
    margin-top: 7px;
}
.video-info{
    color: #5a5a5a;
    font-size: 13px;
}
.video-info a{
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}
/* playvideo.htmlcss------------------------------ */
.row{
    display: flex;
    justify-content:space-between;
    /* align-items: center; */
    flex-wrap: wrap;
}
.play-video{
 flex-basis: 69%;
}
.right-sidebar{
    flex-basis: 30%;
}
.play-video video{
    width: 100%;
}
.side-video-list{
    display: flex;
    justify-content: space-between;
}
.side-video-list img{
    width: 100%;
}
.side-video-list .small-thumnail{
    flex-basis: 49%;
}
.side-video-list .vid-info{
    flex-basis: 49%;
}
.vid-text{
    color: black;
    font-weight: 600;
    margin-bottom: 5px;
    display: block;
}
.vid-text p{
    font-size: 13px;
    color: #333;
}
.play-video .tag{
    color: #0000ff;
}
.play-video h3{
    font-size: 22px;
    font-weight: 600;
}
.play-video-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 10px;
    color: #5a5a5a;
}
.play-video-info a img{
    width: 20px;
    margin-right: 8px;
}
.play-video-info a{
    display: inline-flex;
    align-items: center;
    margin-left: 15px;

}
.play-video hr{
    border: 0;
    height: 1px;
    background-color: #ccc;
    margin: 10px 0px;
}
.publisher{
    display: flex;
   margin-left: 20px;
    align-items: center;
}
.publisher div{
    flex: 1;
    line-height: 18px;
}
.publisher img{
    width: 40px;
    border-radius: 50%;
    margin-right: 15px;
}
.publisher div p{
    color: #000;
    font-weight: 600;
    font-size: 18px;
}
.publisher div span{
    color: #5a5a5a;
    font-size: 13px;
}
.publisher button{
    color: #fff;
    background-color: red;
    padding: 8px 30px;
    outline: none;
    border: none;
    cursor: pointer;
    border-radius: 4px;
}
.vid-discription{
    margin-left: 75px;
}
.vid-discription p{
    color: #5a5a5a;
    margin: 5px 0;
    margin-bottom: 5px;
    font-size: 14px;
}
.vid-discription h3{
    color: #5a5a5a;
    margin-top: 5px;
    font-size: 14px;
}
.add-comment{
    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 15px;
}
.add-comment img{
    width: 30px;
    border-radius: 50%;
}
.add-comment input{
   border: none;
   outline: none;
   border-bottom: 1px solid #ccc;
   width: 100%;
   padding-top: 10px;
   background: transparent;
}
.old-comment{
    display: flex;
    align-items: center;
    margin: 20px 0;
    gap: 15px;
}
.old-comment img{
 width: 35px;
 border-radius: 50%;


}
.old-comment h3{
    font-size: 14px;
    margin-bottom: 2px;
}
.old-comment h3 span{
  font-size: 12px;
  color: #5a5a5a;
  font-weight: 500;
  margin-left: 8px;
}
.action-comment{
    display: flex;
    align-items: center;
    margin: 8px 0;
    font-size: 14px;
}
.action-comment img{
    border-radius: 0;
    width: 20px;
    margin-right: 5px;
}
.action-comment span{
    color: #5a5a5a;
    margin-right: 20px;
}
.action-comment a{
    color: #0000ff;
}

@media (max-width:900px){
 .menu-icon{
    display: none;
 }
 .nav-right img:not(.user-icon){
    display: none;
 }
 .sidebar{
    display: none;
 }
 .banner, .large-banner{
 padding-left: 5%;
 }
 .nav-right .user-icon{
    display: block;
    width: 30px;
 }
 .container{
    width: 90%;
 }
 .nav-middle .search-box input{
    width: 100px;
    
 }
 .nav-middle .mic-icon{
    display: none;
 }
 .play-video{
    flex-basis: 100%;
 }
 .right-sidebar{
    flex-basis: 100%;
 }
}
